---
layout: base.njk
---
<section class="hero" style="background-image: url('/img/hero.jpg');">
  <p class="hero-text">{{ site.hero.text }}</p>
  <a class="hero-cta" href="/writing/">{{ site.hero.cta }} →</a>
</section>
